<div class="panels-container">
    <div class="static-wrapper">
        <div class="panel-header">
            <h2>Fixed container, textarea pinned to the bottom by position absolute</h2>
        </div>
        <div class="panel-content">
            <pre>
                .panels-container
                    position: fixed;
                    width: 100%;
                    height: 100%;
            </pre><br>
            <pre>
                    .panel-composer
                        position: absolute;
            </pre>

            <button (click)=toggleShifting()>
                <span *ngIf="shiftEnabled">Disable</span>
                <span *ngIf="!shiftEnabled">Enable</span>
                Shifting
            </button>
        </div>
        <div class="panel-composer">
            <textarea id="composer-input"
                (focus)="focusFunction($event.target)"
                (focusout)="focusOutFunction($event.target)"
                rows="2"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                placeholder="Glitch is here">
                </textarea>
        </div>
    </div>
</div>
